src/lib/facturacion/wsdl/facturacionCompraVenta.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://siat.impuestos.gob.bo/ServicioFacturacionCompraVenta" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="https://siat.impuestos.gob.bo/" name="ServicioFacturacion" targetNamespace="https://siat.impuestos.gob.bo/ServicioFacturacionCompraVenta">
<wsdl:import location="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioFacturacionCompraVenta?wsdl=ServicioFacturacion.wsdl" namespace="https://siat.impuestos.gob.bo/"> </wsdl:import>
<wsdl:binding name="ServicioFacturacionSoapBinding" type="ns1:ServicioFacturacion">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="recepcionPaqueteFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="recepcionPaqueteFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="recepcionPaqueteFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="verificarComunicacion">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="verificarComunicacion">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="verificarComunicacionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="recepcionFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="recepcionFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="recepcionFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="reversionAnulacionFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="reversionAnulacionFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="reversionAnulacionFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="validacionRecepcionMasivaFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="validacionRecepcionMasivaFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="validacionRecepcionMasivaFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="recepcionAnexos">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="recepcionAnexos">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="recepcionAnexosResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="recepcionMasivaFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="recepcionMasivaFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="recepcionMasivaFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="verificacionEstadoFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="verificacionEstadoFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="verificacionEstadoFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="validacionRecepcionPaqueteFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="validacionRecepcionPaqueteFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="validacionRecepcionPaqueteFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="anulacionFactura">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="anulacionFactura">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="anulacionFacturaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServicioFacturacion">
<wsdl:port binding="tns:ServicioFacturacionSoapBinding" name="ServicioFacturacionPort">
<soap:address location="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioFacturacionCompraVenta"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
