api/lib/facturacion/wsdl/facturacionOperaciones.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://siat.impuestos.gob.bo/FacturacionOperaciones" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="https://siat.impuestos.gob.bo/" name="ServicioFacturacionOperaciones" targetNamespace="https://siat.impuestos.gob.bo/FacturacionOperaciones">
<wsdl:import location="https://pilotosiatservicios.impuestos.gob.bo/v2/FacturacionOperaciones?wsdl=ServicioFacturacionOperaciones.wsdl" namespace="https://siat.impuestos.gob.bo/"> </wsdl:import>
<wsdl:binding name="ServicioFacturacionOperacionesSoapBinding" type="ns1:ServicioFacturacionOperaciones">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="verificarComunicacion">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="verificarComunicacion">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="verificarComunicacionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="registroPuntoVenta">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="registroPuntoVenta">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="registroPuntoVentaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="registroPuntoVentaComisionista">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="registroPuntoVentaComisionista">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="registroPuntoVentaComisionistaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="cierreOperacionesSistema">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="cierreOperacionesSistema">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="cierreOperacionesSistemaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="consultaEventoSignificativo">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="consultaEventoSignificativo">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="consultaEventoSignificativoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="consultaPuntoVenta">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="consultaPuntoVenta">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="consultaPuntoVentaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="registroEventoSignificativo">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="registroEventoSignificativo">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="registroEventoSignificativoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="cierrePuntoVenta">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="cierrePuntoVenta">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="cierrePuntoVentaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServicioFacturacionOperaciones">
<wsdl:port binding="tns:ServicioFacturacionOperacionesSoapBinding" name="ServicioFacturacionOperacionesPort">
<soap:address location="https://pilotosiatservicios.impuestos.gob.bo/v2/FacturacionOperaciones"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
