api/lib/facturacion/wsdl/servicioRecepcionCompras.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://siat.impuestos.gob.bo/ServicioRecepcionCompras" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="https://siat.impuestos.gob.bo/" name="ServicioRecepcionCompras" targetNamespace="https://siat.impuestos.gob.bo/ServicioRecepcionCompras">
<wsdl:import location="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioRecepcionCompras?wsdl=ServicioFacturacion.wsdl" namespace="https://siat.impuestos.gob.bo/"> </wsdl:import>
<wsdl:binding name="ServicioRecepcionComprasSoapBinding" type="ns1:ServicioFacturacion">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="verificarComunicacion">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="verificarComunicacion">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="verificarComunicacionResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="validacionRecepcionPaqueteCompras">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="validacionRecepcionPaqueteCompras">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="validacionRecepcionPaqueteComprasResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="recepcionPaqueteCompras">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="recepcionPaqueteCompras">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="recepcionPaqueteComprasResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="anulacionCompra">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="anulacionCompra">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="anulacionCompraResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="confirmacionCompras">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="confirmacionCompras">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="confirmacionComprasResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="consultaCompras">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="consultaCompras">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="consultaComprasResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServicioRecepcionCompras">
<wsdl:port binding="tns:ServicioRecepcionComprasSoapBinding" name="ServicioFacturacionPort">
<soap:address location="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioRecepcionCompras"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
